/* ============================================= */
/*                   Colors                      */
/* ============================================= */

$grey: #777;
$grey-light: #ccc;
$accent-color: #58e1c1;
$default-color: #51ddfc; // light blue
$error-color: #e4757a; // dark red
$info-color: #927bc1; // purple
$success-color: #63cc82; // green
$warning-color: #fd7856; //orange

$brand-color: #013a20;
$dark-accent-color: #478c5c;
$light-accent-color: #b1d8b7;
$background-color: #f5f6f0;
$white: #fff;
$alert: #fd1700;

/* ============================================= */
/*              Typography                       */
/* ============================================= */

$sans-serif: 'Lato', sans-serif;
$base-weight: 300;
$bold-weight: 700;

/* ============================================= */
/*               Media Queries                   */
/* ============================================= */

$sm: 768px;
