/* ============================================= */
/*                   Colors                      */
/* ============================================= */

$grey: #777;
$grey-light: #ccc;
$white: #fff;
$accent-color: #58e1c1;
$default-color: #51ddfc; // light blue
$error-color: #e4757a; // dark red
$info-color: #927bc1; // purple
$success-color: #63cc82; // green
$warning-color: #fd7856; //orange

/* ============================================= */
/*              Typography                       */
/* ============================================= */

$sans-serif: 'Lato', sans-serif;
$base-weight: 300;
$bold-weight: 700;

/* ============================================= */
/*               Media Queries                   */
/* ============================================= */

$sm: 768px;
