/* ============================================= */
/*              Grid System                      */
/* ============================================= */

/* ============================================= */
/*            	Grid Layout	                     */
/* ============================================= */

header {
	grid-area: head;
}

nav {
	grid-area: navi;
}

main {
	grid-area: main;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 'head' 'navi' 'main';
}

.toggle-switches {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

/* ============================================= */
/*                Main Grid                      */
/* ============================================= */

main {
	display: grid;
}
