/* ============================================= */
/*              Grid System                      */
/* ============================================= */

/* ============================================= */
/*            	 Body Grid                       */
/* ============================================= */

header {
	grid-area: head;
}

nav {
	grid-area: navi;
}

main {
	grid-area: main;
}

.grid-container {
	@include grid-layout(auto, auto);
	grid-template-areas: 'head' 'navi' 'main';
	background-color: $background-color;
}

/* ============================================= */
/*            	 Header Grid                     */
/* ============================================= */

.header-grid {
	@include grid-layout(auto, 7fr 1fr 1.5fr);
	padding: 5px 10px;
	background-color: $brand-color;

	div {
		@include margin-auto-center;

		svg {
			padding-top: 15px;
			padding-right: 10px;
		}
	}

	.username {
		display: none;
		text-align: right;
		font-size: 1.25em;
		margin: auto;
		padding-right: 5px;
	}
}

/* ============================================= */
/*               Main Grid                       */
/* ============================================= */

// main {
// 	display: grid;
// }

/* ============================================= */
/*               Search-Alert Grid               */
/* ============================================= */

.main-header h2 {
	grid-area: title;
}

.main-header-search {
	grid-area: search;
}

.alert {
	grid-area: alert;
}

.search-alert-grid {
	@include grid-layout(repeat(3, 1fr), 1fr);
	grid-template-areas: 'dashboard' 'search' 'alert';
	border-bottom: 1px solid $dark-accent-color;
	padding-bottom: 10px;
}

/* ============================================= */
/*               Traffic Grid                    */
/* ============================================= */

.traffic-header {
	grid-area: title-traffic;
}

.traffic-header ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 0;

	li {
		padding: 0;
	}
}

.canvas-container-full {
	grid-area: chart-traffic;
}

.traffic {
	@include grid-layout(1fr 1.5fr, 1fr);
	grid-template-areas: 'title-traffic' 'chart-traffic';
	padding-bottom: 20px;
	border-bottom: 1px solid $dark-accent-color;
}

/* ============================================= */
/*               Daily-Mobile Grid               */
/* ============================================= */

.daily-traffic h3 {
	grid-area: title-daily;
}

.daily-traffic-chart {
	grid-area: dtchart;
}

.daily-traffic {
	@include grid-layout(.25fr 1fr, 1fr);
	grid-template-areas: 'title-daily' 'dtchart';
	padding: 20px 0px;
}

.mobile-users h3 {
	grid-area: title-mobile;
}

.mobile-users-chart {
	grid-area: muchart;
}

.mobile-users {
	@include grid-layout(.25fr 1fr, 1fr);
	grid-template-areas: 'title-mobile' 'muchart';
	padding-bottom: 20px;
	border-bottom: 1px solid $dark-accent-color;
}

/* ============================================= */
/*               Social Stats Grid               */
/* ============================================= */

.social-container {
	@include grid-layout(repeat(3, 1fr), 1fr);
	row-gap: 2em;
	padding-bottom: 20px;
	border-bottom: 1px solid $dark-accent-color;
}

.twitter,
.facebook,
.google {
	display: flex;
	align-items: center;
	background-color: $dark-accent-color;
	border-radius: 5px;
	width: 90%;
	box-shadow: 3px 3px 3px $dark-accent-color-shadow;
	@include margin-auto-center;

	.social-image {
		padding-left: 5px;
	}

	.social-image,
	.social-text {
		width: 50%;
		margin: 0;
	}

	.social-text p {
		display: inline-block;
	}
}

/* ============================================= */
/*       New Members/Recent Activity Grid        */
/* ============================================= */

.new-members,
.recent-activity {
	@include grid-layout(repeat(autofit, 1fr), 1fr);
	row-gap: 1em;
	padding-bottom: 20px;
	border-bottom: 1px solid $dark-accent-color;
}

.member-container {
	text-align: center;
	background-color: $dark-accent-color;
	border-radius: 5px;
	width: 90%;
	@include margin-auto-center;
	padding-top: 16px;
	box-shadow: 3px 3px 3px $dark-accent-color-shadow;

	.member-text {
		line-height: 1.25em;

		p {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.recent-activity .member-container {
	padding-bottom: 16px;
}

/* ============================================= */
/*               Message User Grid               */
/* ============================================= */

.message-user {
	@include grid-layout(repeat(autofit, 1fr), 1fr);
	grid-auto-columns: 0;
	overflow-x: hidden;
	row-gap: 2em;
	border-bottom: 1px solid $dark-accent-color;
	padding-bottom: 20px;

	form {
		width: 100%;
		margin: 0 auto;
	}

	.form-field,
	.form-area {
		display: block;
		width: 90%;
		@include margin-auto-center;
		margin-bottom: 1em;
		padding: 0;
		border: none;
		border-radius: 5px;
		resize: none;
	}
}

// Style placeholder text
::placeholder {
	padding-left: 10px;
}

/* ============================================= */
/*               Settings Grid                   */
/* ============================================= */

.settings {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(autofit, 1fr);
	row-gap: 2em;
	padding-bottom: 20px;

	#timezone {
		width: 95%;
		margin: 0 auto;
		margin-bottom: 1em;
		padding: 0;
		border: none;
		border-radius: 5px;
		resize: none;
	}

	label {
		display: block;
		width: 75px;
		margin: auto;
	}

	p {
		display: block;
	}
}

.toggle-switches {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;

	.email-toggle,
	.profile-toggle {
		width: 95%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.settings-buttons {
	text-align: center;
}

button {
	width: 45%;
	display: inline;
}
