//						          //
// - - - - - Navigation - - - - - //
//					       		  //

.nav-container {
	display: flex;
	justify-content: space-around;
	padding: 5px;
	background-color: $light-accent-color;
}
