/* ============================================= */
/*              Navigation                       */
/* ============================================= */

/* ============================================= */
/*            	 Nav Flex                        */
/* ============================================= */

.nav-container {
	display: flex;
	justify-content: space-around;
	padding: 5px;
}
