/* ============================================= */
/*              Base styles                      */
/* ============================================= */

/* ============================================= */
/*              Typography                       */
/* ============================================= */

h1 {
	@include app-name;
	color: $white;

	span {
		font-style: italic;
		font-weight: bold;
	}
}

.search-alert-grid h2 {
	text-align: center;
	font-size: 1.875em;
	margin: auto;
}

.social-stats,
.new-members,
.recent-activity {
	h3 {
		text-align: center;
	}
}
